<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tester">
  <select id="testQueryId"  parameterType="hashmap" resultType="hashmap">
SELECT *
		FROM MENU
		WHERE UPCODE = #{mCode} AND ISNAV=1
  </select>

 </mapper>
