<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <context-param>
  	<param-name>contextpath</param-name>
  	<param-value>classpath:context/application-context.xml</param-value>
  </context-param>
  <listener>
  	<listener-class>member.listener.ApplicationContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>MemberListServlet</servlet-name>
    <servlet-class>member.controller.MemberList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListServlet</servlet-name>
    <url-pattern>/member/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberInsertServlet</servlet-name>
    <servlet-class>member.controller.MemberInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInsertServlet</servlet-name>
    <url-pattern>/member/memberInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberDetailServlet</servlet-name>
    <servlet-class>member.controller.MemberDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDetailServlet</servlet-name>
    <url-pattern>/member/memberDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberFile</servlet-name>
    <servlet-class>member.controller.MemberFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFile</servlet-name>
    <url-pattern>/member/file</url-pattern>
  </servlet-mapping>
</web-app>